.containerTitleHome{
    background-color: white;
    width: 100%;
    min-width: 1000px;
    height: max-content;
    display: flex;
    flex-direction: row ;
    position: relative;
    padding-right: 100px;
    .avatar{
        width: 70px;
        height: 70px;
        border: 1px solid white;
        border-radius: 100px;
        background-color: gray;
        position:absolute;
        top: -91px;
        right: 50px;
        cursor: pointer;
    }
    .title{
        font-family:sans-serif;
        font-weight: 750;
        padding-right: 165px;
        font-size: 40px;
        color: #1233E5;
    }
    .line{
        border: 1px solid #A0AEF5;
        height: 40px;
        margin-top: 8px;
        width: 1px;
        background-color: #A0AEF5;
        border-radius: 30px;
    }
    .dAT{
        color: #5971EE;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 21px;
        font-weight: 645;
        margin-top: -7px;
        padding-left: 20px;
        
    }
    
}
.search{
        margin-top: 50px;
        justify-content: right;
        display: flex;
    }