.containerForgotPasswordForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: fit-content;
    height: fit-content;


    .inputContainerForgotPasswordForm{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
        
        width: fit-content;
        height: fit-content;

        #titleForgotPasswordForm{
            color: #1233E5;
            font-weight: 600;
            text-align: left;
        }
        #descriptionForgotPasswordForm{
            color: #A0AEF5;
            font-weight: 500;
        }
        
    }
}