.containerAdminPage{
    min-width: max-content;
    padding-right: 100px;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row !important;

    .adminSideBar{
        padding-left: 30px;
        background-color: white;
        float: left;
        margin-right: 70px;
        position: fixed;
        z-index: 10;
        overflow: hidden;
        height: 100vh;
    }
    .content{
        margin-top: 134px;
        margin-left: 379px;
        float: right;
    }
}