.containerAdminPage{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row ;
    .adminSideBar{
        width: 20%;
        margin-left: 30px;
    }
    .content{
        width: 80%;
        margin-left: 39px;
    }
}