.container{
    background-color: white;

}
.custom{
    .Dropdow-control{
     border-color: #3552E9 ;
     border-radius: 50px ;
     background-color: #3552E9 ;
    }

    .Dropdown-menu{
      background-color: #3552E9 ;
    }   
}