.containerHRPage {
    min-width: max-content;
    padding-right: 100px;
    min-height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row !important;

    .HRSideBar {
        padding-left: 30px;
        background-color: white;
        float: left;
        margin-right: 70px;
        position: fixed;
        z-index: 10;
        overflow: hidden;
        height: 100vh;
    }

    .content {
        margin-top: 134px;
        margin-left: 379px;
        float: right;
    }

    .timekeepingStyle {
        display: flex;
        flex-direction: row;
        font-size: 21px;
        font-family: sans-serif;
        font-weight: bold;
        position: fixed;
        top: 220px;
        gap: 16px;

        .blur {
            color: black;
            padding-right: 50px;
        }

        .nonBlur {
            color: #D6D6D6;
            padding-right: 50px;
        }
    }
}