.border{
    width: 472px;
    height: 40px;
    border-radius: 30px;
    background-color: #E0E5FB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .searchBtn{
        width: 30px;
        height: 35px;
        justify-content: center;
        border-width: 0px;
        background-color: transparent;
        outline: transparent;
        .searchImg{
            width: 20px;
            align-self: center;
            height: 20px;
            color: #5971EE;
        }
    }

    .textInput{
        width: 100%;
        background-color: transparent;
        border-width: 0px;
        font-size: 20px;
        height: 25px;
        margin-left: 24px;
        outline: transparent;
        color: black;
    }
}