.containerCandidate {
  background-color: white;
  border: 0px solid white;
  width: max-content;
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  height: max-content;
  margin-top: 120px;
  .rdt_TableHead {
    color: #3552e9;
    font-size: 20px;
    border-color: #3552e9;
    margin-top: 50px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }

  .rdt_TableRow {
    color: black;
    font-size: 20px;
    height: 52px;
    border-color: #3552e9;

    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .rdt_TableCol {
    height: 52px;
    border-color: #3552e9;
    border: 0.00001px solid #3552e9;
    width: 305px !important;
  }

  .titleTable {
    color: #3552e9;
    font-size: 28px;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .btnCandidate {
    width: 100%;
    height: 52px;
    border-radius: 0px;
    border: 1px solid #3552e9;
    background-color: #e0e5fb;
    color: #1233e5;
    font-size: 21px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 100px;
  }
  .titleTable {
      color: #3552e9;
      font-size: 28px;
      background-color: white;
      position: fixed;
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-left: -78px;
      z-index: 999;
      margin-top: -150px;
      font-weight: 500;
      padding-top: 100px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .candidate {
    margin-top: 0px;
    z-index: 0;
  }

  .tools {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 20px;
    gap: 20px;
    position: relative;
    margin-left: 78px;
  }

  .search {
    margin-left: 100px;
    margin-top: 0;
  }
}
