.addConfirmContainer {
    background-color: rgba(0, 0, 0, 0.123);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;

    .box {
        border: 1px solid white;
        background-color: white;
        max-width: 600px;
        min-width: 500px;
        display: flex;
        border-radius: 20px;
        justify-content: center;
        align-content: center;
        padding: 40px 40px;

        &>div {
            width: 100%;
        }

        .topTable {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-bottom: 20px;
            justify-content: center;

            
        }

        .confirmText {
            font-size: 25px;
            font-family: sans-serif;
            color: black;
            font-weight: bold;
            text-align: center;
            margin: 40px auto;
        }

        .confirmBtn {
            transform: scaleY(0.8);
            margin-top: -32px;
        }

        .accept {
            .childrenText {
                color: #0ba712 !important;
            }
        }

    }
}