.shortBlue {
    width: 123px;
    height: 36px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;

    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #3552E9;
    
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: #1029a7;

    }
}

.normalBlue {
    width: 206px;
    height: 48px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: #1029a7;

    }
    border-radius: 5px;
    background-color: #3552E9;
    font-size: 21px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.longBlue {
    width: 571px;
    height: 70px;
    font-size: 28px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: #1029a7;

    }
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #3552E9;
}

.shortRed {
    width: 123px;
    height: 36px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: rgb(173, 3, 3);

    }
    border-radius: 5px;
    background-color: red;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.longRed {
    width: 571px;
    height: 70px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: rgb(173, 3, 3);

    }
    border-radius: 5px;
    background-color: red;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.shortGreen {
    width: 123px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: #0a8510;

    }
    height: 36px;
    border-radius: 5px;
    background-color: #0BA712;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.longGreen {
    width: 571px;
    height: 70px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: #0a8510;

    }
    border-radius: 5px;
    background-color: #0BA712;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.longGray {
    width: 571px;
    height: 70px;
    color: white;
    border-radius: 5px;
    background-color: gray;
    font-size: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: rgb(86, 85, 85);

    }

}

.logout {
    width: 571px;
    height: 70px;
    font-size: 21px;
    color: #5971EE;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    border-radius: 10px;
    padding: 20px 0;
    align-self: center;
    margin-top: 108px;
    margin-bottom: 108px;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
        background-color: rgb(209, 205, 205);

    }
    border: 2.5px solid #3552E9;
}